MODEL_ID="eu.anthropic.claude-3-7-sonnet-20250219-v1:0"
AWS_ACCESS_KEY_ID="<YOUR_AWS_ACCESS_KEY_ID>"
AWS_SECRET_ACCESS_KEY="<YOUR_AWS_SECRET_ACCESS_KEY>"
AWS_REGION="eu-west-1"
CLAUDE_SONNET_PROFILE_ARN="arn:aws:bedrock:eu-west-1:864586846179:inference-profile/eu.anthropic.claude-3-7-sonnet-20250219-v1:0"
BEDROCK_EMBEDDING_MODEL_ID="amazon.titan-embed-text-v2:0"
POSTGRES_URI="postgresql://postgres:supersecretpassword@postgres:5432/Midas.Platform.GuardianAngel"
MCP_SERVER_URL="http://midas.platform.guardianangel.toolsserver:5000"
DOCUMENT_TABLE_NAME=document_vectors
FACT_CHECK_TABLE_NAME=fact_check_vectors
LOG_INCLUDE_CALLER=false
LOG_FORMAT="console"
FACT_CHECK_API_URL="http://factcheck.localhost"
LANGGRAPH_CHECKPOINT_TTL_HOURS=24
LANGGRAPH_CHECKPOINT_TTL_CHECK_INTERVAL=1
SSE_HEARTBEAT_MS=10000
ORCHESTRATOR_TEMPERATURE=0.0
AGENT_TEMPERATURE=0.0
